In [1]:
import os
import pandas as pd

In [9]:
#Set the directory where pictures are saved
#path_dir = input('Input the path of pictures')
#path_dir = os.getcwd()
path_dir = r'C:\Users\\ahn92\Dropbox\TA_2019\picture'

In [10]:
#Make the csv file
try:
    file_list = os.listdir(path_dir)
    flst = list(map(lambda x : x.replace('.','_').split('_'), file_list))
    f_df = pd.DataFrame(flst).iloc[:,:2]
    f_df.columns = ['Student_ID','Name']
    f_df.to_csv('Pic_Submit.csv',index=False)
    print('Finished')
except:
    print('Error Ocurred')

Finished

In [3]:
f_df = pd.read_csv(r'C:\Users\ahn92\Dropbox\TA_2019\picture\Pic_Submit.csv', encoding='CP949')

In [4]:
f_df

     Student_ID Name
0    2011122078  정선웅
1    2012113025  정원혁
2    2012122011  유동한
3    2012147557  이인환
4    2013101059  김명현
5    2013115022  홍찬희
6    2013117022  이명환
7    2013118036  고동영
8    2013121029  정현진
9    2013121054  권태근
10   2013121093  최용수
11   2013121145  이정현
12   2013121172  권영록
13   2013121209  전병곤
14   2013121219  조영민
15   2013122011  박건희
16   2013122012  정보면
17   2013122041  윤유정
18   2013122053  박상우
19   2013122069  이은호
20   2013131018  김원균
21   2013143508  한상규
22   2013151030  이상언
23   2013198044  이재근
24   2013231019  권영재
25   2014101034  강형구
26   2014119045  이상효
27   2014121007  김석준
28   2014121020  김지현
29   2014121058  허준녕
..          ...  ...
92   2016122029  고보문
93   2016122030  박도현
94   2016122037  최성우
95   2016122040  박서정
96   2016122042  강예빈
97   2016122048  김현지
98   2016122068  김주현
99   2016131012  최우현
100  2017122004  조민주
101  2017122005  조윤해
102  2017122009  이현정
103  2017122011  이승은
104  2017122017  홍익선
105  2017122019  조지민
106  2017122026  김세정
107  2017122029  김민준
108  2017122037  김재익
109  2017122038  김명진
110  2017122050  남지원
111  2017122064  임지우
112  2017147529  한승희
113  2017195151  윤정하
114  2017321059  박정현
115  2018311121  하슬아
116  2019311261  김예은
117  2015121110  정재훈
118  2015122064  이재상
119  2015122044  이현탁
120  2014122037  이상용
121  2017122036  하연주

[122 rows x 2 columns]

In [1]:
input('Press ENTER to EXIT')

a

'a'

In [5]:
subed = set(f_df['Student_ID'])

In [6]:
subed

{2011122078,
 2012113025,
 2012122011,
 2012147557,
 2013101059,
 2013115022,
 2013117022,
 2013118036,
 2013121029,
 2013121054,
 2013121093,
 2013121145,
 2013121172,
 2013121209,
 2013121219,
 2013122011,
 2013122012,
 2013122041,
 2013122053,
 2013122069,
 2013131018,
 2013143508,
 2013151030,
 2013198044,
 2013231019,
 2014101034,
 2014119045,
 2014121007,
 2014121020,
 2014121058,
 2014121093,
 2014121113,
 2014121130,
 2014122007,
 2014122008,
 2014122009,
 2014122014,
 2014122018,
 2014122024,
 2014122025,
 2014122037,
 2014122038,
 2014122039,
 2014122047,
 2014122061,
 2014122066,
 2014122069,
 2014122073,
 2014131039,
 2014131041,
 2014143509,
 2014171011,
 2014190044,
 2015112082,
 2015119012,
 2015121026,
 2015121027,
 2015121043,
 2015121110,
 2015121138,
 2015122004,
 2015122005,
 2015122009,
 2015122010,
 2015122012,
 2015122018,
 2015122022,
 2015122032,
 2015122034,
 2015122038,
 2015122042,
 2015122044,
 2015122045,
 2015122046,
 2015122047,
 2015122049,
 2015122052,
 2015122053,
 2015122054,
 2015122055,
 2015122057,
 2015122059,
 2015122060,
 2015122061,
 2015122064,
 2015123280,
 2015125084,
 2015127021,
 2015129005,
 2015129080,
 2015147571,
 2015152012,
 2016121096,
 2016121108,
 2016121153,
 2016122004,
 2016122029,
 2016122030,
 2016122037,
 2016122040,
 2016122042,
 2016122048,
 2016122068,
 2016131012,
 2017122004,
 2017122005,
 2017122009,
 2017122011,
 2017122017,
 2017122019,
 2017122026,
 2017122029,
 2017122036,
 2017122037,
 2017122038,
 2017122050,
 2017122064,
 2017147529,
 2017195151,
 2017321059,
 2018311121,
 2019311261}

In [7]:
len(subed)

122

In [17]:
flst ='''2013231019
2015112082
2013118036
2015119012
2014119045
2012113025
2016121108
2015121043
2014121093
2015121110
2013121172
2013121054
2014121130
2013101059
2014121007
2014121020
2015121026
2014121113
2013117022
2013121145
2016121153
2015121027
2013121209
2013121029
2015121138
2013121219
2013121093
2014121058
2015122049
2015122054
2014122014
2015122059
2016122029
2015122032
2014122018
2017122038
2017122029
2017122026
2015122012
2015122052
2015122022
2017122037
2015122042
2015122061
2015122047
2016122048
2017122050
2014122007
2013122011
2015122038
2015122005
2016122030
2016122040
2014122039
2015122046
2015122004
2014122066
2014171011
2014122073
2014122009
2014122037
2017122011
2015122064
2015122053
2015122010
2015122034
2017122009
2015122044
2017122064
2015122055
2013122012
2015122028
2017122004
2017122005
2014122008
2014122047
2017122020
2015122057
2017122036
2017122022
2017122017
2016122042
2014101034
2015122045
2016122068
2014122024
2013122053
2015122060
2012122011
2013122041
2015122018
2013122069
2016122004
2014122061
2014122038
2011122078
2014190044
2014122025
2016122037
2014122069
2013115022
2014131041
2016131012
2013131018
2014131039
2013143508
2014143509
2017147529
2012147557
2015147571
2015125084
2015127021
2015129005
2015129080
2013151030
2015152012
2018311121
2017321059
2015123280
2013198044
2017195151
2017122019
2015111014
2015122009
2014122020
2019311261
2016121096'''

In [18]:
flst = flst.split('\n')

In [19]:
len(flst)

127

In [35]:
all_st = set(list(map(str,flst)))

In [40]:
subded=set(map(str,subded))
len(all_st - subded)

5

In [41]:
a = pd.DataFrame(list(all_st - subded))

In [42]:
a.columns = ['Student_ID']

In [43]:
a

   Student_ID
0  2015111014
1  2014122020
2  2017122022
3  2015122028
4  2017122020

In [45]:
c = a.merge(a, on = 'Student_ID')

In [37]:
a['Student_ID'][1]

'2017122009'

In [36]:
f_df['Student_ID'][1]

'2011122078'

In [8]:
b = pd.read_csv('slst.csv',header=None,encoding='CP949')

In [24]:
b.columns = ['Student_ID','Name']

In [25]:
b['Student_ID']=b['Student_ID'].map(str)

In [54]:
c

    Student_ID Name
0   2015122004  송주현
1   2015122052  김용근
2   2019311261  김예은
3   2014122037  이상용
4   2017122022  호정우
5   2016122004  이준호
6   2017122036  하연주
7   2013131018  김원균
8   2013118036  고동영
9   2017122020  최민태
10  2014101034  강형구
11  2015122009  양준성
12  2015122034  이현우
13  2016131012  최우현
14  2015127021  서아름
15  2016122068  김주현
16  2015111014  이지애
17  2017195151  윤정하
18  2014122073  유건욱
19  2014122014  강건희
20  2017122009  이현정
21  2013121093  최용수
22  2016121096  김성윤
23  2014122020  박종호
24  2014121058  허준녕
25  2012147557  이인환
26  2015122028  정재은
27  2013121145  이정현
28  2014190044  조혜경

In [28]:
c[c['Name']!= ['이현탁','이재상','정재훈']]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [49]:
ofline = set(['2015122044','2015122064','2015121110'])

In [1]:
seatlst = '송주현, 김준철, 이현탁, 김용근, 최종문, 박대한, 김민준, 홍익선, 권영재, 김주현, 김정현, 김광유, 강형구, 이솔희, 김명현, 정선웅, 양준성, , 정규형, 김윤환, 박준민, 이재상, 김지훈, 허준녕, 조지민, 하연주, 남지원, 박종호, 이주영, 김창훈, 정재훈, 최민태, 김세정, 조윤해, 이현정, 임지우, 박건우, 윤정하, 김성윤, 김동현, 최우현, 윤유정, 김진희, 임예담, 박치영, 구교찬, 강동원, 이청파, 이상언, 조혜경, 김현주, 고동영, 김석준, 류재원, 조혁진, 송하룡, 정현진, 김민정, 김서영, 이정현, 한상규, 전병곤, 조영민, 홍찬희, 박상용, 이동욱, 권령록, 조경민, 조나단, 하슬아, 이명환, 김현지, 고보문, 박서정, 박도현, 정원혁, 이승은, 김명진, 조민주, 이규호, 전준영, 김동은, 강예빈, 김지섭, 손지우, 이준호, 이현우, 우예희, 손수연, 이상용, 이재근, 정보면, 양지은, 강건희, 김원균, 유건욱, 이현주, 김지현, 김연강, 이재환, 김재익, 진성실, 박국현, 이상효, 박상우, 박건회, 한예찬, 최우석, 최의준, 이인환, 김동욱, 신원상, 서아름, 김혜린, 박정현, 한승희, 차성민, 최용수, 권태근, 박성훈, 민형규, 이은호, 유동한, 김예은, 최성우'

In [3]:
slst = seatlst.split(',')

In [4]:
len(slst)

125

In [5]:
import pandas as pd

In [23]:
a=' asdf '

In [ ]:
a.strip

In [27]:
slst = list(map(lambda x : x.strip(),slst))

In [28]:
sdf = pd.DataFrame(slst)

In [29]:
sdf.columns =['Name']

In [30]:
sdf.merge(b, on='Name')

    Name  Student_ID
0    송주현  2015122004
1    김준철  2015122061
2    이현탁  2015122044
3    김용근  2015122052
4    최종문  2015122057
5    박대한  2015122005
6    김민준  2017122029
7    홍익선  2017122017
8    권영재  2013231019
9    김주현  2016122068
10   김정현  2015122042
11   김광유  2015122032
12   강형구  2014101034
13   이솔희  2015122018
14   김명현  2013101059
15   정선웅  2011122078
16   양준성  2015122009
17   정규형  2015122055
18   김윤환  2015122022
19   박준민  2015122054
20   이재상  2015122064
21   김지훈  2015122047
22   허준녕  2014121058
23   조지민  2017122019
24   하연주  2017122036
25   남지원  2017122050
26   박종호  2014122020
27   이주영  2016121153
28   김창훈  2016121108
29   정재훈  2015121110
..   ...         ...
94   유건욱  2014122073
95   이현주  2014122061
96   김지현  2014121020
97   김연강  2015122012
98   이재환  2015122053
99   김재익  2017122037
100  진성실  2014122025
101  박국현  2015122038
102  이상효  2014119045
103  박상우  2013122053
104  박건회  2013122011
105  한예찬  2014143509
106  최우석  2015147571
107  최의준  2014122069
108  이인환  2012147557
109  김동욱  2015112082
110  신원상  2014171011
111  서아름  2015127021
112  김혜린  2015129005
113  박정현  2017321059
114  한승희  2017147529
115  차성민  2014122047
116  최용수  2013121093
117  권태근  2013121054
118  박성훈  2014131039
119  민형규  2014122007
120  이은호  2013122069
121  유동한  2012122011
122  김예은  2019311261
123  최성우  2016122037

[124 rows x 2 columns]

In [12]:
b.columns = ['Student_ID','Name']

In [37]:
sdf.to_csv('inseat.csv' ,encoding='CP949')

In [17]:
set(sdf['Name'])

{' ',
 ' 강건희',
 ' 강동원',
 ' 강예빈',
 ' 강형구',
 ' 고동영',
 ' 고보문',
 ' 구교찬',
 ' 권령록',
 ' 권영재',
 ' 권태근',
 ' 김광유',
 ' 김동욱',
 ' 김동은',
 ' 김동현',
 ' 김명진',
 ' 김명현',
 ' 김민정',
 ' 김민준',
 ' 김서영',
 ' 김석준',
 ' 김성윤',
 ' 김세정',
 ' 김연강',
 ' 김예은',
 ' 김용근',
 ' 김원균',
 ' 김윤환',
 ' 김재익',
 ' 김정현',
 ' 김주현',
 ' 김준철',
 ' 김지섭',
 ' 김지현',
 ' 김지훈',
 ' 김진희',
 ' 김창훈',
 ' 김현주',
 ' 김현지',
 ' 김혜린',
 ' 남지원',
 ' 류재원',
 ' 민형규',
 ' 박건우',
 ' 박건회',
 ' 박국현',
 ' 박대한',
 ' 박도현',
 ' 박상용',
 ' 박상우',
 ' 박서정',
 ' 박성훈',
 ' 박정현',
 ' 박종호',
 ' 박준민',
 ' 박치영',
 ' 서아름',
 ' 손수연',
 ' 손지우',
 ' 송하룡',
 ' 신원상',
 ' 양준성',
 ' 양지은',
 ' 우예희',
 ' 유건욱',
 ' 유동한',
 ' 윤유정',
 ' 윤정하',
 ' 이규호',
 ' 이동욱',
 ' 이명환',
 ' 이상언',
 ' 이상용',
 ' 이상효',
 ' 이솔희',
 ' 이승은',
 ' 이은호',
 ' 이인환',
 ' 이재근',
 ' 이재상',
 ' 이재환',
 ' 이정현',
 ' 이주영',
 ' 이준호',
 ' 이청파',
 ' 이현우',
 ' 이현정',
 ' 이현주',
 ' 이현탁',
 ' 임예담',
 ' 임지우',
 ' 전병곤',
 ' 전준영',
 ' 정규형',
 ' 정보면',
 ' 정선웅',
 ' 정원혁',
 ' 정재훈',
 ' 정현진',
 ' 조경민',
 ' 조나단',
 ' 조민주',
 ' 조영민',
 ' 조윤해',
 ' 조지민',
 ' 조혁진',
 ' 조혜경',
 ' 진성실',
 ' 차성민',
 ' 최민태',
 ' 최성우',
 ' 최용수',
 ' 최우석',
 ' 최우현',
 ' 최의준',
 ' 최종문',
 ' 하슬아',
 ' 하연주',
 ' 한상규',
 ' 한승희',
 ' 한예찬',
 ' 허준녕',
 ' 홍익선',
 ' 홍찬희',
 '송주현'}

In [31]:
set(b['Name']) - set(sdf['Name'])

{'이지애', '정재은', '호정우'}

In [32]:
set(sdf['Name']) - set(b['Name'])

{''}

In [33]:
sdf.shape

(125, 1)

In [34]:
b.shape

(127, 2)

In [36]:
b['Name']

0      권영재
1      김동욱
2      고동영
3      손지우
4      이상효
5      정원혁
6      김창훈
7      박건우
8      박상용
9      정재훈
10     권령록
11     권태근
12     김동현
13     김명현
14     김석준
15     김지현
16     김진희
17     이동욱
18     이명환
19     이정현
20     이주영
21     임예담
22     전병곤
23     정현진
24     조경민
25     조영민
26     최용수
27     허준녕
28     구교찬
29     박준민
      ...
97     진성실
98     최성우
99     최의준
100    홍찬희
101    조나단
102    최우현
103    김원균
104    박성훈
105    한상규
106    한예찬
107    한승희
108    이인환
109    최우석
110    김현주
111    서아름
112    김혜린
113    양지은
114    이상언
115    김민정
116    하슬아
117    박정현
118    김지섭
119    이재근
120    윤정하
121    조지민
122    이지애
123    양준성
124    박종호
125    김예은
126    김성윤
Name: Name, Length: 127, dtype: object